:root {
  --color-principal: #ff9944;
  --color-secundario: #81501c;
  --color-descriptivo: white;
}

.md-typeset p {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}


.md-typeset__scrollwrap:has(.table-bg-principal) td.table-bg-principal,
.md-typeset__scrollwrap:has(.table-bg-principal) th.table-bg-principal { background-color: var(--color-principal); }
.md-typeset__scrollwrap:has(.table-bg-secundario) td.table-bg-secundario,
.md-typeset__scrollwrap:has(.table-bg-secundario) th.table-bg-secundario { background-color: var(--color-secundario); }

.md-typeset__scrollwrap:has(.table-cl-principal) td.table-cl-principal,
.md-typeset__scrollwrap:has(.table-cl-principal) th.table-cl-principal { color: var(--color-principal); }
.md-typeset__scrollwrap:has(.table-cl-secundario) td.table-cl-secundario,
.md-typeset__scrollwrap:has(.table-cl-secundario) th.table-cl-secundario { color: var(--color-secundario); }

.md-typeset__scrollwrap:has(.table-full-container),
.md-typeset__scrollwrap:has(.table-full-container) .md-typeset__table {
  width: 100%;
}
.md-typeset table:has(.table-full-container) {
  display: table;
  width: 100% !important;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 0.75rem;
  box-shadow: none;
}

/* Ocultar la cabecera obligatoria de Markdown */
.md-typeset table:has(.table-oculta) thead { display: none; }

/* Primera columna */
.md-typeset table:has(.table-main-column) td.table-main-column,
.md-typeset table:has(.table-main-column) th.table-main-column {
  width: 25%;
  min-width: 130px;
  font-weight: 700;
}


.md-typeset table:has(.table-text-bold) td.table-text-bold,
.md-typeset table:has(.table-text-bold) th.table-text-bold {
  font-weight: 700;
}

.md-typeset table:has(.table-content) tr:last-child td {
  border-bottom: 0;
}

@media print {
  .md-typeset table:has(.table-content) {
    break-inside: avoid;
  }
}


/* Bloques descriptivos */
/* Bloque para resultados de aprendizaje */
.md-typeset .admonition.bloque-descriptivo {
  padding: 0.7rem 0.9rem;
  background-color: var(--color-principal);
  border: 0;
  border-left: 4px solid var(--color-secundario);
  border-radius: 0;
  box-shadow: none;
  color: var(--color-descriptivo);
}

/* Título RA01 */
.md-typeset .admonition.bloque-descriptivo > .admonition-title {
  margin: 0 0 0.25rem;
  padding: 0;
  background-color: transparent;
  color: var(--color-secundario);
  font-weight: 700;
}

/* Ocultar el icono predeterminado */
.md-typeset .admonition.bloque-descriptivo > .admonition-title::before {
  display: none;
}

/* Texto descriptivo */
.md-typeset .admonition.bloque-descriptivo > p {
  margin: 0;
  color: var(--color-descriptivo);
  font-weight: 600;
  line-height: 1.6;
}

/* Evitar que el bloque se divida al imprimir */
@media print {
  .md-typeset .admonition.bloque-descriptivo {
    break-inside: avoid;
  }
}